<!DOCTYPE html>
<html lang="en">
<head>
	
	{{ partial "head.html" . }}

</head>
<body>
	{{ if .Site.Params.topmenu.enable }}
		{{ partial "header.html" . }}
	{{ end }}

	{{ if .Site.Params.slider.enable }}
		{{ partial "slider.html" . }}
	{{ end }}

	{{ if .Site.Params.wrapper.enable }}
		{{ partial "wrapper.html" . }}
	{{ end }}

	{{ if .Site.Params.feature.enable }}
		{{ partial "feature.html" . }}
	{{ end }}

	{{ if .Site.Data.service.enable }}
		{{ partial "service.html" . }}
	{{ end }}

	{{ if .Site.Data.clients.enable }}
		{{ partial "clients-block.html" . }}
	{{ end }}

	{{ if .Site.Params.call.enable }}
		{{ partial "call-to-action.html" .Site.Params.call }}
	{{ end }}

	{{ if .Site.Data.testimonial.enable }}
		{{ partial "testimonial.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>